/*Regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Framework style.css*/

.dir-col {
    display: flex;
    flex-direction: column;
}
.dir-row {
    display: flex;
    align-items: center;
}
.dir-col-just-cont-space-ar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Fine framework style.css*/

/*Common rules*/

.container > div {
    height: calc( 100% - 90px);
}

/*Main-left e right*/
div > main[class*="main-left"],
div > main[class*="main-right"] {
    float: left;
    height: 100%;
}
/*Main-left e right*/

/*Font-size*/
.nav-top p{
    font-size: 15px;
}
/*Fine font-size*/

/*Colori common*/
.color-white {
    color: white;
}
.color-gray {
    color: gray;
}
/*Colori common*/

/*Margini*/
.m-b20{
    margin-bottom: 20px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b20{
    margin-bottom: 20px;
}
.m-r10{
    margin-right: 10px;
}
.m-r25{
    margin-right: 25px;
}
.m-r30{
    margin-right: 30px;
}

/*Fine Margini*/

/*Padding*/
.pt-10{
    padding-top: 10px;
}
.pb-5px{
    padding-bottom: 5px;
}
/*Fine padding*/

/*Fine common rules*/

.container {
    width: 100%;
    height: 100vh;
}

/*MAIN left*/

.main-left {
    background-color: black;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Nav*/
main > nav{
    width: 90%;
    height: 100%;
}
/*Nav-top*/
nav > .nav-top{
    height: calc(100% - 60px);
    overflow-y: hidden;
}

nav > div[class*="row-logo"]{
    height: 50px;
}
.row-logo a > img{
    width: 150px;
}
img#logo-small{
    display: none;
}
/*ROW-NAV*/
nav > div[class*=row-nav] {
    height: 60px;
    display: flex;
}
.row-nav img{
    width: 30px;
}

/*FINE ROW-NAV*/
/*Row playlist*/
nav > div[class*="row-playlist"] {
    height: 100px;
    display: flex;
    overflow-y: auto;
}
.nav-top .row-nav img:active {
    width: 40px;
    border-left: 3px solid green;
}
.nav-top > .row-playlist > div:nth-last-child(1) {
    height: 180px;
    width: 100%;
    overflow-y: scroll;
}

/*Fine row playlist*/
/*Fine nav-top*/

/*Nav-bottom*/
.nav-bottom {
    height: 60px;
}

/*Fine nav-bottom*/
/*Fine Nav*/

/*Fine MAIN left*/

/*MAIN right*/
.main-right {
    background-color: violet;
    width: calc(100% - 230px);
}

/*Fine MAIN right*/

/*FOOTER*/
footer {
    height: 90px;
    width: 100%;
    background-color: rgb(41, 49, 51);
    display: flex;
    justify-content: space-between;
}
/*Footer left*/
.footer-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 25%;
}
.footer-left > img {
    width: 55px;
    height: 55px;
}

/*Footer left*/

/*Footer center*/
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.footer-center > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Fine footer center*/

/*Footer right*/

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 25%;
}
/*Fine footer right*/

/*Fine FOOTER*/
    
/*-------------------------------------------*/

/*Media query 600px*/

@media screen and (max-width: 600px) { 
    .main-left {
        width: 40px;
    }
    .main-right {
        width: calc(100% - 40px);
        
    }
    .row-logo > a > img {
        display: none;
    }
    img#logo-small {
        display: block;
        width: 30px;
    }
    nav .row-nav  p, .row-playlist, .row-profile p {
        display: none;
    }
    

}
/*Fine Media query 600px*/
