/*Regole generali*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Framework style.css*/

.dir-col {
    display: flex;
    flex-direction: column;
}
.dir-row {
    display: flex;
    align-items: center;
}
.dir-col-just-cont-space-ar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Fine framework style.css*/

/*Common rules*/

.container > div {
    height: calc( 100% - 90px);
}

/*Main-left e right*/
div > main[class*="main-left"],
div > main[class*="main-right"] {
    float: left;
    height: 100%;
}
/*Main-left e right*/

/*Font-size*/

.fon-siz-10 {
    font-size: 10px;
}
/*Fine font-size*/

/*Colori common*/
.color-white {
    color: white;
}
.color-gray {
    color: gray;
}
/*Colori common*/

/*Background-color*/
.back-col-gray{
    background-color: gray;
}
/*Fine background-color*/

/*Margini*/
.m-b20{
    margin-bottom: 20px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b20{
    margin-bottom: 20px;
}
.m-r10{
    margin-right: 10px;
}
.m-r25{
    margin-right: 25px;
}
.m-r30{
    margin-right: 30px;
}
.m-t-5{
    margin-top: 5px;
}
.m-l10{
    margin-left: 10px;
}
/*Fine Margini*/

/*Padding*/
.pt-10{
    padding-top: 10px;
}
.pb-5px{
    padding-bottom: 5px;
}
/*Fine padding*/


/*Height*/
/*Fine common rules*/

.container {
    width: 100%;
    height: 100vh;
}
/*--------------------------------------------*/

/*MAIN left*/

.main-left {
    background-color: black;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Nav*/
main > nav{
    width: 90%;
    height: 100%;
}
/*Nav-top*/
nav > .nav-top{
    height: calc(100% - 60px);
    overflow-y: hidden;
}
.nav-top a{
    font-size: 15px;
}
nav > div[class*="row-logo"]{
    height: 50px;
}
.row-logo a > img{
    width: 150px;
}
/*row-logo*/
img#logo-small{
    display: none;
}
/*Fine row-logo*/

/*ROW-NAV*/
nav > div[class*=row-nav] {
    height: 60px;
    display: flex;
}
.row-nav img{
    width: 30px;
}
.nav-top div:nth-child(1) > a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}
.nav-top a {
    color: gray;
    transition: color;
    text-decoration: none;
}

.nav-top a:active {
    color: white;
    font-size: 20px;
}
.nav-top a:hover {
    color: white;
}
/*FINE ROW-NAV*/
/*Row playlist*/
nav > div[class*="row-playlist"] {
    height: 100px;
    display: flex;
}
.nav-top .row-nav img:active {
    width: 40px;
    border-left: 3px solid green;
}
.nav-top > .row-playlist > div:nth-last-child(1) {
    height: 180px;
    width: 100%;
    overflow-y: auto;
}
#add {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: gray;
}
#add > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.row-playlist p:hover {
    color: white;
}
/*Fine row playlist*/
/*Fine nav-top*/

/*Nav-bottom*/
.nav-bottom {
    height: 60px;
}
.nav-bottom img{
    width: 15px;
}
.row-bottom-profile > .dir-row > div:nth-last-child(2) {
    width: 21px;
    height: 21px;
    padding: 2px 2px;
    background-color: gray;
    border-radius: 10px 10px;
}

/*Fine nav-bottom*/
/*Fine Nav*/

/*Fine MAIN left*/

/*MAIN right*/
.main-right {
    background-color: #202020;
    width: calc(100% - 230px);
}

/*Fine MAIN right*/

/*FOOTER*/
footer {
    height: 90px;
    width: 100%;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
}
/*Footer left*/
.footer-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 25%;
}
.footer-left > img {
    width: 55px;
    height: 55px;
}
.name:hover {
    text-decoration: underline;
}
.footer-left i:hover {
    color: white;
    font-size: 20px;

}
/*Footer left*/

/*Footer center*/
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.footer-center > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-center-bottom > div {
    position: relative;
}
.footer-center hr {
    background-color: rgba(92, 92, 92, 0.5);
    height: 5px;
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgba(92, 92, 92, 0.2);
    border-radius: 30px 30px;   
}

.footer-center-bottom  hr + hr {
    position: absolute;
    bottom: 0;
    width: 100px;
    background-color: gray;
}


/*Fine footer center*/

/*Footer right*/

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    width: 25%;
}
.footer-right > div {
    position: relative;
}
.footer-right  hr {
    background-color: rgba(92, 92, 92, 0.5);
    height: 5px;
    width: 180px;
    margin-right: 10px;
    border: 1px solid rgba(92, 92, 92, 0.2);
    border-radius: 30px 30px;
}
.footer-right  hr + hr {
    position: absolute;
    bottom: 0;
    width: 100px;
    background-color: gray;
}
/*Fine footer right*/

/*Fine FOOTER*/
    
/*-------------------------------------------*/

/*Media query 600px*/

@media screen and (max-width: 600px) { 
    .main-left {
        width: 40px;
    }
    .main-right {
        width: calc(100% - 40px);
        
    }
    .row-logo > a > img {
        display: none;
    }
    img#logo-small {
        display: block;
        width: 30px;
    }
    nav .row-nav  a, .row-playlist, .row-profile p {
        display: none;
    }
    
    .footer-center hr {
        width: 100px;  
    }
    
    .footer-center-bottom  hr + hr {
        width: 40px;
        
    }

    .footer-right hr {
        width: 60px;  
    }
    
    .footer-right hr + hr {
        width: 20px;
        
    }
    .row-nav, .row-logo, .row-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row-top-profile img {
        width: 20px;
        height: 20px;

    }
}


    
}

/*Fine Media query 600px*/
